.initial-prompt-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: var(--neutral);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20%;
  border-radius: 1em 1em;
}

.initial-prompt-title {
  flex: 1;
}

.initial-prompt-description {
  flex: 2;
}

.initial-prompt-cta {
  flex: 3;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

div.initial-prompt-content:focus-visible {
  border: none;
  outline: none;
}
