@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.heading {
  font-weight: 500;
  color: var(--dark-text);
}

.paragraph {
  font-weight: 300;
  color: var(--light-text);
}

body {
  --primary: #1565c0;
  --primary-lighter: #1875df; /* 2 tones up  */

  --secondary: #e3f2fd;
  --secondary-darker: #c3e3fb; /* 2 tones down  */

  --neutral: #ffffff;
  --dark-text: #444444;
  --light-text: #f7f7f7;
}
